.final-feedback {
 position: absolute;
 margin: 0;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 right: auto;
 bottom: auto;

 .final-feedback-success {
  position: absolute;
  margin: 0px;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  right: auto;
  bottom: auto;
  display: block;
 }

 .final-feedback-failure {
  position: absolute;
  margin: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  right: auto;
  bottom: auto;
  display: none;

  .try-again {
   position: absolute;
   margin: 0px;
   left: 40.93%;
   top: 40.79%;
   width: 18.03%;
   height: 24.92%;
   right: auto;
   bottom: auto;
   cursor: pointer;
   opacity: 1;

   .try-again-ellipse {
    position: absolute;
    margin: 0px;
    left: 0%;
    top: 0.64%;
    width: 100%;
    height: 98.73%;
    right: auto;
    bottom: auto;
    border-radius: 50%;
    background-color: rgb(245, 151, 86);
    opacity: 1;
   }

   .try-again-restart-icon-anim {
    position: absolute;
    margin: 0px;
    left: 25.93%;
    top: 25%;
    width: 49.96%;
    height: 48.11%;
    right: auto;
    bottom: auto;
    opacity: 1;

    .try-again-restart-icon-anim-img {
     position: absolute;
     margin: 0px;
     left: 0.07%;
     top: 0.07%;
     width: 100.21%;
     height: 100%;
     right: auto;
     bottom: auto;
     opacity: 1;
    }
   }
  }
 }

 .feedback-text {
  position: absolute;
  margin: 0px;
  left: 30.6%;
  top: 44.5%;
  width: 40.61%;
  height: 14%;
  right: auto;
  bottom: auto;
  font-family: Alef;
  font-weight: bold;
  font-size: 170%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-style: normal;
  text-align: center;
  line-height: 170%;
  letter-spacing: 0em;
  text-indent: 0%;
  word-spacing: 0em;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  opacity: 0.1;
 }

 .button-feedback-close {
  position: absolute;
  margin: 0px;
  left: 47%;
  top: 48%;
  width: 1%;
  height: 2.8%;
  right: auto;
  bottom: auto;
  cursor: pointer;
  opacity: 1;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;

  .button-feedback-close-background {
   position: absolute;
   margin: 0px;
   left: 0%;
   top: 0%;
   width: 100%;
   height: 100%;
   right: auto;
   bottom: auto;
   border: 0px none rgb(0, 0, 0);
   background-color: rgb(159, 0, 0);
   opacity: 0;
  }

  .button-feedback-close-x {
   position: absolute;
   margin: 0px;
   left: 8%;
   top: 8%;
   width: 100%;
   height: 100%;
   right: auto;
   bottom: auto;
   -moz-background-size: 100%;
   -o-background-size: 100%;
   -webkit-background-size: 100%;
   background-size: 100%;
   background-image: url(../images/UI/tetris_feedbackClose.svg);
   background-position: 0px 0px;
   background-repeat: no-repeat no-repeat;
  }
 }

 .final-feedback-fade {
  position: absolute;
  margin: 0px;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  right: auto;
  bottom: auto;
  opacity: 0.4;
  border: 0px none rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 .final-feedback-popup {
  position: absolute;
  margin: 0;
  /*left: 16.9%;
        top: 2.24%;*/
  left: 17.6%;
  top: 23.24%;
  width: 66.28%;
  height: 55.56%;
  right: auto;
  bottom: auto;
  overflow: hidden;
  opacity: 1;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
 }


 .final-feedback-popup-rectangle {
  position: absolute;
  margin: 0px;
  left: 0%;
  top: 0%;
  width: 100.01%;
  height: 100%;
  right: auto;
  bottom: auto;
  border: 0px none rgb(0, 0, 0);
  background-color: rgb(96, 101, 107);
 }

 .final-feedback-popup-opening {
  position: absolute;
  margin: 0px;
  left: -25.44%;
  top: -39.71%;
  width: 150.9%;
  height: 180%;
  right: auto;
  bottom: auto;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
 }


 .final-feedback-stars {
  position: absolute;
  margin: 0px;
  left: 18.37%;
  top: 31.27%;
  width: 63.1%;
  height: 37.8%;
  right: auto;
  bottom: auto;
  opacity: 1;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
 }


 .final-feedback-ribbon {
  position: absolute;
  margin: 0px;
  /*left: 26.28%;
        top: 41.11%;*/
  left: 27.28%;
  top: 43.11%;
  width: 47.5%;
  height: 17.9%;
  right: auto;
  bottom: auto;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
 }

 .show {
  .feedback-text {
   opacity: 1;
   top: 42.7%;
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   -webkit-transform: scale(1);
   transform: scale(1);
  }

  .button-feedback-close {
   position: absolute;
   margin: 0px;
   left: 17.75%;
   top: 23.38%;
   width: 3%;
   height: 4.5%;
   right: auto;
   bottom: auto;
   cursor: pointer;
   opacity: 1;
  }

  .final-feedback-popup {
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   -webkit-transform: scale(1);
   transform: scale(1);
  }

  .final-feedback-popup-opening {
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
  }

  .final-feedback-stars {
   //transform:scale(150.9%,180%)
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   -webkit-transform: scale(1);
   transform: scale(1);
  }

  .final-feedback-ribbon {
   //transform:scale(150.9%,180%)
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   -webkit-transform: scale(1);
   transform: scale(1);
  }
 }
}